<%- partial('_partial/head') %>

<body>
  
  <div class = "container">
  <header class = "blog-header"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar') %></aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <!-- <div id="back_top"><img width="130px" height="100px" src="back_tp.png"></div> -->
  </div>
  <style type="text/css">


    #back_top{
        display: block;
        right: 10%;
        bottom: 10%;
        position: fixed;
        opacity: 0.5;
        display: none;
        --webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    #back_top:hover{
      cursor: pointer;
      opacity: 1;
    }
  </style>
  <%- partial('_partial/after_footer') %>

</body>
</html>