<nav id="pagination">
  <% if (page.prev){ %>
    <a data-pjax href="<%- config.root %><%- page.prev_link %>" class="alignleft prev"><%= __('prev') %></a>
  <% } %>
  <% if (page.next){ %>
    <a data-pjax href="<%- config.root %><%- page.next_link %>" class="alignright next"><%= __('next') %></a>
  <% } %>
  <div class="clearfix"></div>
  <script type="text/javascript">
  $(function(){

  	$.ajax('allCount',{
        success:function(data) {
          	data = JSON.parse(data);
            for (var i = 0; i < data.length; i++) {
            	var element = document.getElementById(data[i].path);
             	if(element) element.innerHTML = data[i].count;
            };
        },
        error:function() {
            console.log('error');
        }
     });

  });
  </script>
</nav>